@tailwind base;
@tailwind components;
@tailwind utilities;

#layout{
  height:100vh;
  width:100vw;
  position:relative;
  overflow: hidden;
}

header{
  height:50vh;
  position:absolute;
  top:0;
  background-image: linear-gradient(270deg,white,rgba(0, 0, 255, 0.672));
  width:100%;
}
footer{
  height:50vh;
  position: absolute;
  bottom:0;
  width: 100%;
  background-image: url('/public/img/laravel-logo.svg');
  background-position: bottom;
}
footer img{
  opacity: 0.8;
  z-index:0;
  position: absolute;
  bottom: 0;
}
main{
  position:absolute;
  height:85vh;
  width:95vw;
  top:100px;
  left:2.5vw;
  z-index:5;
  overflow-y: auto;

}
footer{
  position: absolute;
  bottom:0;
  z-index:1;
  overflow-y: hidden;
}

.menu{
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 255, 0.703);
  color: aliceblue;
  position: absolute;
  right:0;
  top:100%;
  z-index:10;
  border-radius: 15px;
  padding:10px;
}



.active {
  color: rgb(0, 0, 255);
}


#nav-menu li a span{
  position:fixed;
  top:68px;
  right:50px;
  font-size: 23px;
  padding:0;
  margin:0;
}