@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-jdw{
  box-shadow: 10px 5px 50px rgba(0, 0, 0, 0.412);
}

.screen{
  position: relative;

}

.logo-absolute{
  position:absolute;
  justify-self: center;
  opacity: 20%;
  top:-8%;
}

.logo-absolute img{
  height:160px;
  z-index: 0;
}

