@tailwind base;
@tailwind components;
@tailwind utilities;



.slideshow-tech {
  padding: 0 10px;
  margin: 0 auto;
  align-items: center;
}

.slideshow-tech img {
  max-height: 70px;
  max-width: 220px;
}

.fullscreen{
  height:100vh;
  width:100vw;
  position:relative;
  overflow-x: hidden;
  background-image: url('../../public/img/sfondo.jpg');
  background-position: bottom;
}

.top-panel {
  height: 50vh;
  background-image: linear-gradient(90deg, rgb(255, 255, 255), rgb(0, 26, 255));
}

.top-panel img{
  position:absolute;
  width:30vw;
  opacity:0.5;
}
.content{
  width:90vw;
  height:85vh;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.433);
  border:solid rgba(138, 135, 135, 0.612) 1px;
  border-radius: 25px;
  margin: 10px auto;
  top:13%;
  right:5px;
  overflow-y: auto;
  padding-bottom: 10px;
  box-shadow: 10px 10px 60px black;
}

#docs-card{
  opacity:0.8;
}

.logo{
  height:80px;
  width:80px;
}

.logo img{
    height: 60px;
    width: 60px;
    background-image: white;
    margin-top: 10px;
}

.nav-jdw{
  background-color: rgba(255, 255, 255, 0);
}
.layout{
  position: relative;
}





