@tailwind base;
@tailwind components;
@tailwind utilities;



.slideshow-tech {
  padding: 0 10px;
  margin: 0 auto;
  align-items: center;
}

.slideshow-tech img {
  max-height: 70px;
  max-width: 220px;
}

.fullscreen{
  height:100vh;
  width:100vw;
  position:relative;
  overflow-x: hidden;
}
.top-panel {
  height: 50vh;
  background-image: linear-gradient(90deg, white, rgba(0, 26, 255, 0.565));
  position: relative;
}
.top-panel img{
  position:absolute;
  width:70vw;
  opacity:0.6;
}
.content{
  width:90vw;
  height:90vh;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.433);
  border:solid rgba(138, 135, 135, 0.612) 1px;
  border-radius: 25px;
  margin: 0 auto;
  top:7%;
  right:5px;
  overflow-y: auto;
  padding-bottom: 20px;
  box-shadow: 10px 10px 60px black;
}

#docs-card{
  opacity: 0.8;
}
#docs-card:focus{
  opacity: 1;
}






