@tailwind base;
@tailwind components;
@tailwind utilities;



.slideshow-tech {
  padding: 0 10px;
  margin: 0 auto;
  align-items: center;
}

.slideshow-tech img {
  max-height: 70px;
  max-width: 220px;
}

